@import url("../variables.css");

#forum-header {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;

    background-color: var(--background-color);

    height: 64px;
    padding: 0 16px;

    transition: all 0.2s ease-in-out;
    line-height: 64px;

    box-shadow: 0 16px 32px 0px var(--shadow-color);
}

.logo {
    margin: 0;
    height: 64px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color-bold);
}

.logo:hover {
    text-decoration: underline;
    color: var(--link-color);
}

.wrapper {
    max-width: 800px;
    margin: 76px auto auto auto;

    border-radius: 3px;
    border: 1px solid var(--accent-color);
}

.padded {
    padding: 12px;
}

.header-hidden {
    top: -64px !important;
    opacity: 0;
    box-shadow: none !important;
}

/* post memes */

forum-post {
    display: grid;

    grid-gap: 12px;

    grid-template-columns: 24px 24px auto;
    grid-template-rows: 24px 24px auto;
}

.post-thumbnail {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    border-radius: 3px;
    border: 1px solid var(--accent-color);
}

.post-meta {
    padding: 16px;
    background-color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.post-body {
    padding: 16px;
}

.post-body p:first-child {
    margin-top: 0px;
}

.post-title {
    font-weight: bold;
    font-size: 24px;

    grid-row: 1;
    grid-column: 3;
}

.post-byline {
    display: block;
    color: var(--text-color-subtle);
}

.post-options {
    grid-row: 2;
    grid-column: 3;

    list-style: none;
    display: inline-block;

    margin: 0;
    padding: 0;
}

.post-option {
    display: inline-block;
}

/* sign in/log in */

.authorize-form-input {
    display: block;

    font-family: 'Courier', monospace;
    font-size: 16px;

    background-color: var(--background-color);
    color: var(--text-color-bold);

    border-radius: 3px;
    border: 3px solid var(--accent-color);

    width: 100%;
    /* max-width: 800px; */

    padding: 8px;
    margin-bottom: 12px;
}

.authorize-form-input:focus {
    border-color: var(--link-color);
}

.authorize-form-input:invalid {
    border-color: red;
    box-shadow: none;
}

.authorize-form-label {
    font-family: 'Courier', monospace;
    font-size: 14px;
}

.authorize-form-button {
    border: none;
    border-radius: 3px;

    cursor: pointer;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;

    padding: 8px 32px;
    color: var(--text-color-bold);
    background-color: var(--accent-color);
}

.authorize-form-button:hover {
    color: var(--background-color);
    background-color: var(--link-color);
}

.authorize-form-grid {
    width: 100%;
    grid-gap: 12px;
    grid-template-columns: 50fr 50fr;
    display: grid;
}

.auth-error {
    border-radius: 8px;
    border: 4px solid brown;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 16px;

    padding: 16px;
}

/* post editing */

#markdown-editor {
    resize: vertical;
}