#live-chat {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#message-entry {
    position: fixed;
    background-color: var(--card-color);

    /* height: 48px; */
    left: 0;
    right: 0;
    bottom: 0;

    padding: 12px;

    border-top: 1px solid var(--accent-color);
    box-shadow: 0 -4px 8px 0 var(--shadow-color);
}

/* messages */
#message-list {
    margin-bottom: 116px;
}

.fullscreen-overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0 16px;

    font-family: 'Open Sans', sans-serif;

    background-color: var(--background-color);
}

#login-prompt {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    font-family: 'Open Sans', sans-serif;

    background-color: rgba(1, 1, 1, 0.3);
}

.login-prompt-container {
    position: relative;
    top: 40%;
    margin: auto;
    text-align: center;
}

.login-prompt-big {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.login-prompt-small {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
}

.login-prompt-button {
    border: none;
    border-radius: 8px;

    color: var(--link-color);

    cursor: pointer;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

    padding: 8px 32px;
    background-color: var(--accent-color);
}

.login-prompt-button:hover {
    color: var(--background-color) !important;
    background-color: var(--link-color);
}


.overlay-close-button {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 32px;
    cursor: pointer;
}

#emote-popup {
    background-color: var(--background-color);

    position: fixed;
    left: 8px;
    bottom: 120px;

    padding: 8px;
    width: 256px;

    opacity: 1;
    transition: all 0.5s ease;
}

#emote-popup .emote {
    height: 42px;
    padding: 4px;
    cursor: pointer;
}

#emote-button {
    float: left;
}

#user-list-button {
    float: right;
    margin-right: 12px;
}

#settings-button {
    float: right;
}

.hidden {
    visibility: hidden;
    opacity: 0 !important;
    transform: translateY(-16px);
}

@keyframes new-message {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes combo {
    0% {
        font-size: inherit;
    }
    30% {
        font-size: 28px;
    }
    100% {
        font-size: inherit;
    }
}

.message-username {
    font-weight: bold;
    color: inherit;
    padding-right: 12px;
}

.message-text {
    color: var(--text-color-subtle);
    overflow-wrap: break-word;
}

.mentioned > .message-text {
    color: inherit;
}

.mentioned .chat-link, .mentioned > .chat-link:hover {
    color: var(--background-color) !important;
}

.chat-message {
    animation: new-message 0.5s ease;
    padding: 2px 16px;
    line-height: 20px;
}

.mentioned {
    background-color: var(--link-color);
    color: var(--background-color);
}

.self {
    background-color: var(--accent-color);
}

.combo-message {
    font-weight: bold;
    animation: combo 0.3s ease;
}

.emote {
    height: 2em;
    vertical-align: middle;
    margin: -0.5em 0;
}

.remove-message-button {
    background: inherit;
    border: 2px solid red;
    border-radius: 8px;

    position: absolute;
    right: 16px;
    transition: 0.3s ease;
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;

    transform: translateX(10px);
    visibility: hidden;
    opacity: 0;
}

.chat-message:hover .remove-message-button {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
}

.remove-message-button:hover {
    background-color: red;
    color: white;
}

#autocompletion-popup {
    background-color: var(--card-color);

    overflow-y: auto;
    max-height: calc(100% - 148px);

    position: fixed;

    bottom: 124px;
    right: 16px;
    left: 16px;
}

#autocompletion-popup p {
    margin: 0;
    padding: 16px;
}

#autocompletion-popup .highlighted {
    background-color: var(--accent-color);
}