@import url("variables.css");

html {
    color: var(--text-color-bold);
    background-color: var(--background-color);
}

a {
    color: var(--text-color-bold);
}

a:hover {
    color: var(--link-color);
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
}

.static-header {
    max-width: 800px;
    line-height: 64px;
    margin: auto;
}

.greeter-links {
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
    float: right;
    vertical-align: middle;
}

.greeter-hamburger-menu-container {
    display: none;
}

.greeter-hamburger-links {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: 72px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: none;
    background-color: var(--background-color);
    transform: translateY(16px);
}

.greeter-hamburger-links .greeter-link {
    display: block;
    line-height: 48px;
}

.greeter-hamburger-menu {
    position: absolute;
    right: 8px;
    top: 32px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.greeter-hamburger-menu-container span {
    position: absolute;
    right: 8px;
    top: 32px;
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--text-color-bold);
    pointer-events: none;
    transition: 0.5s;
}

.greeter-hamburger-menu-container span:nth-child(2) {
    top: 40px;
}
.greeter-hamburger-menu-container span:nth-child(3) {
    top: 48px;
}

.greeter-hamburger-menu:checked ~ span {
    transform: translateY(8px) rotate(-45deg)
}

.greeter-hamburger-menu:checked ~ span:nth-child(2) {
    transform: none;
    opacity: 0;
}

.greeter-hamburger-menu:checked ~ span:nth-child(3) {
    transform: translateY(-8px) rotate(45deg)
}

.greeter-hamburger-menu:checked ~ .greeter-hamburger-links {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0px 64px 47px 2px rgba(0,0,0,.14);
}

.greeter-link {
    display: inline;
    cursor: pointer;
    padding: 0 12px;
}

.greeter-link a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color-bold);
    font-weight: bold;
}

.greeter-link a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

/* video display */


.video-display {
    display: grid;
    width: 100%;
    height: 450px;
    grid-gap: 12px;
    transition: all 0.2s ease-in-out;
    box-shadow: 8px 8px 47px 2px rgba(0,0,0,.14);
}

.video-display:hover {
    box-shadow: 0px 24px 64px 2px rgba(0,0,0,.28);
}

.video-display--main-video {
    padding: 4px 16px;
    background-size: cover;
    transition: all 100ms ease-in-out;
}

.video-display--main-video:hover {
    cursor: pointer;
}

.main-video-title {
    color: var(--background-color);
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0px 0px 16px rgba(0,0,0,1);
}


/* live section */

@keyframes live-animation {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.subheading h2 {
    display: inline-block;
    vertical-align: middle;
}

.subheading .live-indicator {
    font-size: 14px;
    padding: 4px 8px;
    font-weight: bold;
    color: white;
    background-color: red;
    animation: live-animation 3s ease-in-out;
    animation-iteration-count: infinite;
    vertical-align: middle;
}

.content-wrapper {
    max-width: 800px;
    margin: auto;
}

.livestream-container {
    width: 100%;
    height: 500px;
    box-shadow: 8px 8px 47px 2px rgba(0,0,0,.07);
}

@media screen and (max-width: 800px) {
    .video-display {
        height: calc(56.25vw - 9px); /* offset from 16px / 0.5625 */
    }

    .main-video-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 650px) {
    .greeter-links {
        display: none;
    }
    .greeter-hamburger-menu-container {
        display: inline-block;
    }
}
