@import url("variables.css");

.static-header {
    max-width: 800px;
    line-height: 48px;
    margin: auto;
}

.header-links {
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
    float: right;
    vertical-align: middle;
}

.header-hamburger-menu-container {
    display: none;
}

.header-hamburger-links {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: 72px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: none;
    background-color: var(--background-color);
    transform: translateY(16px);
}

.header-hamburger-links .header-link {
    display: block;
    line-height: 48px;
}

.header-hamburger-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.header-hamburger-menu-container span {
    position: absolute;
    right: 16px;
    top: 20px;
    width: 32px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--text-color-bold);
    pointer-events: none;
    transition: 0.5s;
}

.header-hamburger-menu-container span:nth-child(2) {
    top: 28px;
}
.header-hamburger-menu-container span:nth-child(3) {
    top: 36px;
}

.header-hamburger-menu:checked ~ span {
    transform: translateY(8px) rotate(-45deg)
}

.header-hamburger-menu:checked ~ span:nth-child(2) {
    transform: none;
    opacity: 0;
}

.header-hamburger-menu:checked ~ span:nth-child(3) {
    transform: translateY(-8px) rotate(45deg)
}

.header-hamburger-menu:checked ~ .header-hamburger-links {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 64px 47px 2px var(--shadow-color-intense);
}

.header-link {
    display: inline;
    cursor: pointer;
    padding: 0 12px;
}

.header-link a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color-bold);
    font-weight: bold;
}

.header-link a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

/* video display */


.video-display {
    display: grid;
    width: 100%;
    height: 450px;
    grid-gap: 12px;
    transition: all 0.2s ease-in-out;
}

.video-display:hover {
    box-shadow: 0 0 64px 2px var(--shadow-color-intense);
}

.video-display--main-video {
    padding: 4px 16px;
    background-size: cover;
    transition: all 100ms ease-in-out;
}

.video-display--main-video:hover {
    cursor: pointer;
}

.main-video-title {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 0 0 16px rgba(0, 0, 0, 1);
}


/* live section */

@keyframes live-animation {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.subheading h2 {
    display: inline-block;
    vertical-align: middle;
}

.subheading .live-indicator {
    font-size: 14px;
    padding: 4px 8px;
    font-weight: bold;
    color: white;
    background-color: red;
    animation: live-animation 3s ease-in-out;
    animation-iteration-count: infinite;
    vertical-align: middle;
}

.content-wrapper {
    max-width: 800px;
    margin: auto;
}

.livestream-container {
    width: 100%;
    height: 500px;
    box-shadow: 8px 8px 47px 2px var(--shadow-color);
}

.container {
    max-width: 1116px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .video-display {
        height: calc(56.25vw - 9px); /* offset from 16px / 0.5625 */
    }

    .main-video-title {
        font-size: 24px;
    }

    .header-links {
        display: none;
    }

    .header-hamburger-menu-container {
        display: inline-block;
    }
}

footer {
    font-weight: bold;
    background-color: var(--accent-color);
    margin-top: 16px !important;
    padding: 32px;
}

.footer-link {
    display: block;
}

