@import url("variables.css");

#livestream-grid {
    display: grid;
    grid-template-columns: 70fr 30fr;
    height: 100%;
    width: 100%;
}

.livestream-left {
    height: calc(100% - 48px);
    grid-column: 1;
    resize: horizontal;
}

.livestream-right {
    grid-column: 2;
}

@media screen and (max-width: 600px) {
    #livestream-grid {
        grid-template-rows: calc(56.25vw - 48px) auto;
    }

    .livestream-left {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .livestream-right {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .logo {
        font-size: 24px !important;
    }

    .post-title {
        font-size: 18px !important;
    }
}

#chat {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

#livestream-header {
    height: 48px;
    overflow-y: hidden;
    line-height: 48px;
    padding: 0 8px;
}

.subscribe-button {
    color: white;
    margin: 6px 0;
    line-height: 36px;
    font-size: 14px;
    vertical-align: bottom;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
    border-radius: 2px;
    padding: 0 12px;
    float: right;
}
