@import url("variables.css");

#html-max-size {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

#fullscreen-viewer {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100%;
}

@media screen and (max-width: 600px) {
    #fullscreen-viewer {
        flex-direction: column;
    }

    #video {
        width: 100% !important;
        height: calc(48px + 56.25vw) !important;
    }

    #stream-embed {
        width: 100% !important;
        height: 56.25vw !important;
    }

    #chat {
        width: 100% !important;
    }

    .logo {
        font-size: 24px !important;
    }
}

#video {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

#chat {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

#stream-embed {
    width: 100%;
    height: calc(100% - 48px);
}

#livestream-header {
    height: 48px;
    overflow-y: hidden;
    line-height: 48px;
    padding: 0 8px;
}

.subscribe-button {
    color: white;
    margin: 6px 0;
    line-height: 36px;
    font-size: 14px;
    vertical-align: bottom;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
    border-radius: 2px;
    padding: 0 12px;
    float: right;
}

.gutter {
    transition: all 0.2s ease-in-out;
}

.gutter:hover {
    background-color: var(--accent-color);
}