#logs-search-bar {
    height: 48px;
    margin: 8px auto;
    max-width: 800px;
}

#logs-results {
    font-family: 'Courier', monospace;
    word-wrap: break-word;
}

#logs-results p, #logs-results a {
    color: var(--text-color-bold);
    margin: 0;
    text-decoration: none;
}

#logs-results a:hover {
    color: var(--link-color);
}

#log-results p::before {
    display: block; 
    content: " "; 
    margin-top: -285px; 
    height: 285px; 
    visibility: hidden; 
    pointer-events: none;
}

:target {
    background-color: var(--link-color);
    color: var(--background-color) !important;
    /* animation: target-fade 3s 1; */
}

.paginator {
    display: grid;
    max-width: 800px;
    margin: auto;
    margin-top: 16px;

    grid-template-columns: 50fr 50fr;
    grid-gap: 16px;
}

.list-card {
    color: var(--text-color-bold);
    padding: 16px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid var(--accent-color);
}

.list-card:last-child {
    border: none;
}



@keyframes target-fade {
    0% {
        background-color: var(--link-color);
        color: var(--background-color);
    }
    100% {
        background-color: rgba(0,0,0,0);
        color: var(--text-color-bold);
    }
}