@import url('./variables.css');

table {
    margin: auto;
    border-spacing: 0;
}

table thead th {
    border-bottom: 2px solid var(--accent-color);
}

table tbody tr:nth-child(2n)  {
    background-color: var(--accent-color);
}

th, td {
    padding: 12px;
}

/* code */

pre {
    font-size: 14px;
    padding: 12px;
    border-radius: 3px;
    background-color: var(--accent-color);
    overflow-x: auto;
}

.hljs,.hljs-subst{
    /* color:#444 */
}
.hljs-comment{
    color: var(--text-color-subtle)
}
.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{
    font-weight:bold
}
.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{
    color: var(--link-color)
}
.hljs-title,.hljs-section{
    color:var(--link-color);
    font-weight:bold
}
.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{
    color:#BC6060
}
.hljs-literal{
    color:#78A960
}
.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{
    color:#397300
}
.hljs-meta{
    color:#1f7199
}
.hljs-meta-string {
    color: #4d99bf
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

/* Quotes */

blockquote {
    margin-left: 0;
    margin-bottom: 0;
    border-left: 4px solid var(--accent-color);
    padding: 12px;
}

blockquote ~ blockquote {
    margin-top: 0;
}

blockquote blockquote:first-child {
    margin-top: 0;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}