* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

:root {
    --background-color: white;
    --text-color-bold: black;
    --text-color-subtle: darkslategrey;
    --link-color: blueviolet;
    --accent-color: lightgrey;

    --shadow-color: rgba(0,0,0,0.07);
    --shadow-color-intense: rgba(0,0,0,.28);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #021615;
        --text-color-bold: white;
        --text-color-subtle: #e0e0e0;
        --link-color: #ebf745;
        --accent-color: #092d2c;

        --shadow-color: rgba(235, 247, 69, 0.07);
        --shadow-color-intense: rgba(235, 247, 69, 0.28);
    }
}