html {
    font-family: 'Open Sans', sans-serif;
    background: var(--background-color);
    color: var(--text-color-bold);
    min-height: 100vh;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    text-overflow: ellipsis;
    word-break: break-word;
    hyphens: auto;
}

*:focus {
    outline: none;
}

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color) !important;
    text-decoration: underline;
}

:root {
    --background-color: #F8F8F8;
    --card-color: white;
    --text-color-bold: black;
    --text-color-subtle: darkslategrey;
    --link-color: blueviolet;
    --accent-color: lightgrey;

    --shadow-color: rgba(111, 111, 111, .2);
    --shadow-color-intense: rgba(111, 111, 111, .4);

    --brand-background: linear-gradient(-45deg, #bcf6b3, #b6d2ff);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #021615;
        --card-color: black;
        --text-color-bold: white;
        --text-color-subtle: #e0e0e0;
        --link-color: #35deea;
        --accent-color: #092d2c;

        --shadow-color: rgba(0, 0, 0, 0.6);
        --shadow-color-intense: rgba(0, 0, 0, 0.9);

        --brand-background: linear-gradient(-45deg, #0f3538, #240f38);
    }
}
