<!DOCTYPE html>
<html>

<head>
  <title>Logs - milesbenton.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script defer src="/static/bundle.min.js"></script>
</head>

<body>
  <header id="forum-header">
    <input type="text" id="logs-search-bar" class="authorize-form-input" placeholder="Search">
  </header>

  <div id="logs-results" class="wrapper padded">
  </div>
  <script>
    window.addEventListener('load', function() {
      let logSearchbar = new acolyte.LogSearch()
      logSearchbar.initializeCallbacks()

      acolyte.renderEmotesInElement(document.getElementById("logs-results"))
      acolyte.renderMathInElement(document.getElementById("logs-results"), {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "$", right: "$", display: false},
        ]
      })
    })
  </script>
</body>

</html>