<!DOCTYPE html>
<html>

<head>
  <title>Logs - milesbenton.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script defer src="/static/bundle.min.js"></script>
</head>

<body>
  <header id="forum-header">
      <a href="/logs" class="logo">Logs</a>
  </header>
  <div id="logs-results" class="wrapper padded">
    {{ if not . }}
      Yikes that person hasn't said anything
    {{ else }}
      {{ range . }}
          <p><a href='/logs/messages/{{ .Timestamp.Format "2006-01-02" }}#{{ .MessageID }}'>{{ .Timestamp.Format "2006-01-02 15:04:05" }} [{{ .Username }}] {{ .Message }}</a></p>
      {{ end }}
    {{ end }}
  </div>
  <script>
    window.addEventListener('load', function() {
      new acolyte.TransientHeader("forum-header")
      acolyte.renderMathInElement(document.getElementById("logs-results"), {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "$", right: "$", display: false},
        ]
      })
      acolyte.renderEmotesInElement(document.getElementById("logs-results"))

      if(window.location.hash != '') {
        window.location.href=window.location.href
        window.scrollTo(window.scrollX, window.scrollY - 128)
      }
    })
  </script>
</body>

</html>