body {
    margin: 0;
    font-family: 'Courier', monospace;
    font-size: 16px;
}

#message-entry {
    position: fixed;
    background-color: white;

    /* height: 48px; */
    left: 0;
    right: 0;
    bottom: 0;

    padding: 12px;
    box-shadow: 16px 0px 47px 2px rgba(0,0,0,.07);
}

#entry-body {
    border: 1px grey solid;
    width: calc(100% - 18px);

    font-family: 'Courier', monospace;

    border-radius: 3px;
    border: 3px solid lightgrey;

    outline: none;

    font-size: 14px;
    border-radius: 3px;
    padding: 8px;
    resize: vertical;
}

#entry-body:hover {
    border-color: blueviolet;
}

/* messages */
#message-list {
    padding: 12px;
    margin-bottom: 88px;
}

#settings-overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0 32px;

    font-family: 'Open Sans';

    background-color: white;
}

#login-prompt {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    font-family: 'Open Sans', sans-serif;

    background-color: rgba(1,1,1,0.3);
}

.login-prompt-container {
    position: relative;
    top: 40%;
    margin: auto;
    text-align: center;
}

.login-prompt-big {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.login-prompt-small {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
}

.login-prompt-button {
    border: none;
    border-radius: 3px;

    color: blueviolet;

    cursor: pointer;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

    padding: 8px 32px;
    background-color: lightgrey;
}

.login-prompt-button:hover {
    color: white;
    background-color: blueviolet;
}


.overlay-close-button {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 32px;
    height: 32px;
    cursor: pointer;
}

#settings-button {
    float: right;
}

.hidden {
    display: none;
}

.chat-message {
    line-height: 20px;
}

.message-username {
    font-weight: bold;
    color: black;
    padding-right: 12px;
}

.message-text {
    color: darkslategrey;
    overflow-wrap: break-word;
}