body {
    margin: 0;
    font-family: 'Courier', monospace;
    font-size: 16px;
}

/* messages */
#message-list {
    padding: 12px;
}

#settings-overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 0 32px;

    font-family: 'Open Sans';

    background-color: white;
}

#settings-close-button {
    position: absolute;
    right: 24px;
    top: 24px;
    height: 32px;
    height: 32px;
    cursor: pointer;
}

#settings-button {
    float: right;
}


@keyframes new-message {
    0% {
        opacity: 0;
        line-height: 0px;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        line-height: 20px;
        transform: translateY(0);
    }
}

.hidden {
    display: none;
}

.chat-message {
    animation: new-message 0.5s ease;
    display: grid;
    grid-template-columns: 25% 75%;
    line-height: 20px;
}

.message-username {
    grid-column: 1;
    text-align: right;
    font-weight: bold;
    color: black;
    padding-right: 12px;
}

.message-text {
    grid-column: 2;
    color: darkslategrey;
}