body {
    margin: 0;
    font-family: 'Open Sans';
}

.fullscreen-viewer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#video {
    height: 100%;
    width: 100%;
    background-color: white;
}

#chat {
    height: 100%;
    width: 100%;
    background-color: white;
}

#stream-embed {
    width: 100%;
    height: calc(100% - 48px);
}

#header {
    height: 48px;
    line-height: 48px;
    padding: 0 8px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.logo:hover {
    color: blueviolet;
    text-decoration: underline;
}

.subscribe-button {
    color: white;
    margin: 6px 0;
    line-height: 36px;
    font-size: 14px;
    vertical-align: bottom;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
    border-radius: 2px;
    padding: 0 12px;
    float: right;
}

.gutter {
    transition: all 0.2s ease-in-out;
}

.gutter:hover {
    background-color: lightgrey;
}