<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script src="/static/bundle.min.js"></script>
  <link rel="stylesheet" href="/static/bundle.min.css">
  
  <title>meters.sh - Chat</title>
</head>

<body id="live-chat">
  <div id="settings-overlay" class="hidden">
    <svg class="overlay-close-button" onclick="acolyte.toggleSettings()"  viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
    </svg>
    <h1>Settings</h1>
    <input id="settings-username-input" type="text" placeholder="username"></input>
  </div>
  <div id="login-prompt" class="hidden">
    <svg class="overlay-close-button" onclick="acolyte.toggleLoginPrompt()"  viewBox="0 0 24 24">
      <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
    </svg>
    <div class="login-prompt-container">
      <span class="login-prompt-big">Woah there partner</span>
      <span class="login-prompt-small">You need to have an account to chat</span> 
      <a href="/log-in?target=/chat" class="login-prompt-button">LOG IN</a>
      <a href="/sign-up?target=/chat" class="login-prompt-button">SIGN UP</a>
    </div>
  </div>
  <div id="message-list"></div>
  {{ if . }}
  <script>
    liveChat = new acolyte.MBChat(window.innerHeight, true)
    liveChat.initializeConnection()
  </script>
  {{ else }}
  <div id="message-entry">
    <div id="autocompletion-popup"></div>
    <div id="emote-popup" class="hidden"></div>
    <textarea id="entry-body" style="resize: none;" class="authorize-form-input" placeholder="Say something loser" autocomplete="off"></textarea>
    <a id="emote-button" href="#" onclick="acolyte.toggleEmotePopup()">Emotes</a>
    <a id="settings-button" href="#" onclick="acolyte.toggleSettings()">Settings</a>
  </div>
  <script>
    liveChat = new acolyte.MBChat(window.innerHeight*3)
    liveChat.initializeConnection()
  </script>
  {{ end }}
</body>


</html>