<div id="{{ comment.id }}" class="comment card">
  <input name="{{ comment.id }}" type="checkbox" autocomplete="on" class="collapse-toggle">
  <span class="collapse-visible"></span>
  <div class="content">
    <div class="byline">
      <a href="/user/{{ comment.username }}">{{ comment.username }}</a>
      <time> {{ comment.created_at.format("%B %-d, %Y").to_string() }}</time>
    </div>
    <div class="body markdown">
      {{ comment.body_html }}
    </div>
    <ul class="actions">
      <li>
        <a onclick="acolyte.toggleReplyEditorVisibility('{{ comment.id_parents }}', '{{ comment.id }}')">Reply</a>
      </li>
      <li><a>Report</a></li>
    </ul>
    {% for node in children %}
    {{ node.render().unwrap() }}
    {% endfor %}
  </div>
</div>
