{% extends "base.html" %}

{% block body %}
<div class="wide-wrapper">
  <div class="padded card">
    <header>
      <h1>{% block page_title %}header{% endblock %}</h1>
      <div class="header-links-container">
        <input type="checkbox" class="hamburger-menu-checkbox">
        <div class="hamburger-menu">
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
          <span class="hamburger-bar"></span>
        </div>
        <ul class="header-links">
          {% if user.permissions.at_least(permissions::STANDARD) %}
          <li><a href="/forum/create-post">Create Post</a></li>
          <li><a href="/preferences">Preferences</a></li>
          <li><a href="/logout">Log Out</a></li>
          {% else %}
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
  </div>

  <main class="forum-grid">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="sidebar">
      <div class="card" style="height: 100%">
        {% include "chat_embed.html"%}
      </div>
    </div>
  </main>

  <footer class="card">
    <a class="footer-link" href="mailto:me@milesbenton.com">Contact</a>
    <a class="footer-link" href="/privacy">Privacy</a>
    <a class="footer-link" onclick="acolyte.toggleDarkMode()">Change theme</a>
  </footer>
</div>

<script>
  const username = '{{ user.username }}';
</script>

{% endblock %}
