{% extends "forum_base.html" %}

{% block title %}Forum{% endblock %}
{% block page_title %}Forum{% endblock %}

{% block content %}

<main class="container">
  <div class="wrapper forum-grid">
    <div class="forum-content wrapper card">
      <div id="posts">
        {% for thread in threads %}
        {% include "thread_widget.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="forum-sidebar">
      <div class="wrapper card" style="height: 100%">
        {% include "chat_embed.html"%}
      </div>
    </div>
  </div>
</main>

{% endblock %}
