<!DOCTYPE html>
<html>

<head>
  <title>milesbenton.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script defer src="/static/bundle.min.js"></script>
</head>

<body>
  <header class="static-header">
    <span class="logo">Miles Benton</span>
    <ul class="greeter-links">
      {{ range .Header }}
      <li class="greeter-link"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul class="greeter-hamburger-menu-container">
      <input type="checkbox" class="greeter-hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
      <div class="greeter-hamburger-links">
        {{ range .Header }}
        <li class="greeter-link"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </div>
    </ul>
  </header>
  <article class="content-wrapper">
    {{ if .IsLive }}
    <section>
      <div class="subheading">
        <h2 class="subheading">WOW I'M LIVESTREAMING HOW NEAT <span class="live-indicator">LIVE</span></h2> 
        <iframe class="video-display" src="https://www.youtube-nocookie.com/embed/live_stream?channel={{.ChannelID}}&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
    {{ else }}
    <section>
      <div class="subheading">
        <h2>LATEST VIDEO</h2>
      </div>
      <div class="video-display">
        <div class="video-display--main-video" style="background-image: url('{{ .FeaturedVideo.Thumbnail }}')">
          <span class="main-video-title">{{ .FeaturedVideo.Title }}</span>
        </div>
      </div>
    </section>
    {{ end }}

    <section>
      <div class="subheading">
        <h2>CHECK OUT MY FORUM</h2>
      </div>
      Do you hate Reddit? Posts sitting at 0? Same tbh <br>
      That's why you should go to milesbenton.com/forum people are nicer there I think
    </section>
    <section>
      <div class="subheading">
        <h2>I ALSO MAKE PROJECTS SOMETIMES</h2>
      </div>
      I sometimtes put technical writeups on my blog if you're interested.
    </section>
  </article>
  <footer>
    <span>contact: me @ {this website}</span> - <a onclick="acolyte.toggleDarkMode()" style="cursor: pointer;">Toggle Theme</a>
  </footer>
</body>

</html>