<!DOCTYPE html>
<html lang="en">

<head>
    <title>milesbenton.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/bundle.min.css">
    <script defer src="/static/bundle.min.js"></script>
</head>

<body>
<header class="static-header">
    <span class="logo">Miles Benton</span>
    <ul class="header-links">
        {{ range .Header }}
            <li class="header-link"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    <ul class="header-hamburger-menu-container">
        <input type="checkbox" class="header-hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
        <div class="header-hamburger-links">
            {{ range .Header }}
                <li class="header-link"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </div>
    </ul>
</header>
<article class="content-wrapper">
    {{ if .LiveStatus }}
        <section>
            <div class="subheading">
                <h2 class="subheading">WOW I'M LIVESTREAMING HOW NEAT <span class="live-indicator">LIVE</span></h2>
                <iframe class="video-display"
                        src="https://www.youtube-nocookie.com/embed/live_stream?channel={{.ChannelID}}&modestbranding=1"
                        style="border: 0;" allowfullscreen></iframe>
            </div>
        </section>
    {{ else }}
        <section>
            <div class="subheading">
                <h2>LATEST VIDEO</h2>
            </div>
            <div class="video-display">
                <div class="video-display--main-video" style="background-image: url('{{ .FeaturedVideo.Thumbnail }}')">
                    <span class="main-video-title">{{ .FeaturedVideo.Title }}</span>
                </div>
            </div>
        </section>
    {{ end }}
</article>
<footer>
    <span>contact: me @ {this website}</span> - <a onclick="acolyte.toggleDarkMode()" style="cursor: pointer;">Toggle
        Theme</a>
</footer>
</body>

</html>