<!DOCTYPE html>
<html lang="en" id="html-max-size">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/bundle.min.css">
    <script defer src="/static/bundle.min.js"></script>
    <title>Livestream</title>
</head>

<body id="fullscreen-viewer">
<div class="split" id="video" style="width: calc(75% + 5px);">
    <div id="livestream-header">
        <a class="logo" href="/">Miles Benton</a>
        <a class="subscribe-button" href="https://youtube.com/channel/{{.ChannelID}}?sub_confirmation=1">SUBSCRIBE (it's
            free)</a>
    </div>
    <iframe id="stream-embed"
            src="https://www.youtube-nocookie.com/embed/live_stream?channel={{.ChannelID}}&modestbranding=1"
            style="border:0;" allowfullscreen></iframe>
</div>
<iframe class="split" id="chat" src="/chat" style="border:0;width: calc(25% - 5px);"></iframe>
</body>
<script>
    window.addEventListener('load', function () {
        acolyte.Split(['#video', '#chat'], {
            sizes: [75, 25],
            gutterSize: 10,
            minSize: 200,
        })
    })
</script>

</html>