<!DOCTYPE html>
<html id="html-max-size">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script src="/static/bundle.min.js"></script>
</head>

<body id="fullscreen-viewer">
  <div class="split" id="video">
    <div id="livestream-header">
      <a class="logo" href="/">Miles Benton</a>
      <a class="subscribe-button" href="https://youtube.com/channel/{{.ChannelID}}?sub_confirmation=1">SUBSCRIBE (it's free)</a>
    </div>
    <iframe id="stream-embed" src="https://www.youtube-nocookie.com/embed/live_stream?channel={{.ChannelID}}&modestbranding=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <iframe class="split" id="chat" src="http://localhost:8080/chat" frameborder="0"></iframe>
</body>
<script>
  acolyte.setupSplitpanes('#video', '#chat')
</script>

</html>