{% extends "static_base.html" %}

{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block content %}

<div class="wrapper card padded">

  {% if error %}
  <div class="auth-error">
    error: Invalid username or password
  </div>
  {% endif %}

  <form action="/login" method="POST">
    <input name="target" type="hidden" value="{{ target }}">
    <label for="username">Username</label>
    <input name="username" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="16" type="text">
    <label for="password">Password</label>
    <input name="password" pattern="[a-zA-Z0-9!@#$%^&*()\s]+" minlength="8" maxlength="256" type="password">
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
    <button type="submit">LOG IN</button>
  </form>

</div>

{% endblock %}
