{% extends "static_base.html" %}

{% block title %}Signup{% endblock %}
{% block page_title %}Signup{% endblock %}

{% block content %}

<div class="wrapper card padded">
  <form name="signup-form" action="/signup" method="POST">
    {% if error %}
    <div class="auth-error">
      error: That username is taken
    </div>
    {% endif %}
    <input name="target" type="hidden" value="{{ target }}">
    <label for="username">Username</label>
    <input name="username" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="16" type="text">
    <label for="password">Password</label>
    <input name="password" pattern="[a-zA-Z0-9!@#$%^&*()\s]+" minlength="8" maxlength="256" type="password">
    <label for="verify_password">Verify Password</label>
    <input name="verify_password" pattern="[a-zA-Z0-9!@#$%^&*()\s]+" minlength="8" maxlength="256"
      oninput="checkVerifyPassword()" type="password">
    <p>Already have an account? <a href="/login">Log in</a></p>
    <button type="submit">SIGN UP</button>
  </form>
</div>
<script>
  function checkVerifyPassword() {
    let form = document.forms["signup-form"];

    if (form.password.value !== form.verify_password.value) {
      form.verify_password.setCustomValidity("Password fields do not match.");
      form.verify_password.valid = false
    } else {
      form.verify_password.setCustomValidity("");
      form.verify_password.valid = true
    }
  }
</script>

{% endblock %}
