{% extends "base.html" %}

{% block body %}

<div class="wrapper">
  <header>
    <h1><a href="{% block title_link %}/{% endblock %}">{% block page_title %}header{% endblock %}</a></h1>
    <div class="header-links-container">
      <input type="checkbox" class="hamburger-menu-checkbox">
      <div class="hamburger-menu">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
      </div>
      <ul class="header-links">
        {% for link in header_links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </header>

  {% block content %}
  <p>base</p>
  {% endblock %}

  <footer class="card">
    <a href="mailto:me@milesbenton.com">Contact</a>
    <a href="/privacy">Privacy</a>
    <a onclick="acolyte.toggleDarkMode()">Change theme</a>
  </footer>
</div>

{% endblock %}
