{% extends "base.html" %}

{% block body %}

<header class="header wrapper" style="padding:0">
  <span class="logo">{% block page_title %}header{% endblock %}</span>
  <ul class="header-links">
    {% for link in header_links %}
    <li class="header-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  <ul class="header-hamburger-menu-container">
    <input type="checkbox" class="header-hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
    <div class="header-hamburger-links">
      {% for link in header_links %}
      <li class="header-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>
  </ul>
</header>

{% block content %}
<p>base</p>
{% endblock %}

{% include "footer.html" %}

{% endblock %}
