<header class="header wrapper" style="padding:0">
  <span class="logo">{{ page_title }}</span>
  <ul class="header-links">
    {% for link in header %}
    <li class="header-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  <ul class="header-hamburger-menu-container">
    <input type="checkbox" class="header-hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
    <div class="header-hamburger-links">
      {% for link in header %}
      <li class="header-link"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>
  </ul>
</header>
