<!DOCTYPE html>
<html>

<head>
  <title>Forum - milesbenton.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script src="/static/bundle.min.js"></script>
</head>

<body>
  <header id="forum-header">
    <a class="logo" href="/">Miles Benton Forum</a>
    {{ if .IsLoggedIn }}
    <a class="new-post-button header-link" href="/forum/create-post">New Post</a>
    {{ else }}
    <a class="new-post-button header-link" href="/sign-up">Sign Up</a>
    <a class="new-post-button header-link" href="/log-in">Log In</a>
    {{ end }}
  </header>
  <div class="wrapper">
    <div id="post-list"></div>
    {{ range .Posts }}
    <forum-post title="{{ .Title }}" post-id="{{ .ID }}"></forum-post>
    {{ end }}
  </div>

  <script defer>
    new acolyte.TransientHeader("forum-header")
  </script>
</body>

</html>