<!DOCTYPE html>
<html>

<head>
  <title>Sign up - milesbenton.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script defer src="/static/bundle.min.js"></script>
</head>

<body>
  <header class="static-header">
    <a class="logo" href="/">Log In</a>
  </header>

  <div class="content-wrapper">
    {{ if .Error }}
    <div class="auth-error">
      error: Invalid username or password
    </div>
    {{ end }}
    <form action="/log-in?target={{.Target}}" method="POST">
      <span class="authorize-form-label">Username</span>
      <input name="username" class="authorize-form-input" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="16">
      <span class="authorize-form-label">Password</span>
      <input name="password" class="authorize-form-input" pattern="[a-zA-Z0-9!@#$%^&*()\s]+" minlength="8" maxlength="256" type="password">

      <button class="authorize-form-button" type="submit">LOG IN</button>
    </form>

  </div>
</body>

</html>