<!DOCTYPE html>
<html>

<head>
  <title>Sign up - milesbenton.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/bundle.min.css">
  <script defer src="/static/bundle.min.js"></script>
</head>

<body>
  <header class="static-header">
    <a class="logo" href="/">Sign Up</a>
  </header>

  <div class="content-wrapper">
    <form action="/sign-up?target={{.Target}}" method="POST">
      {{ if .Error }}
      <div class="auth-error">
        error: That username is taken
      </div>
      {{ end }}
      <span class="authorize-form-label">Username</span>
      <input name="username" class="authorize-form-input" pattern="[a-zA-Z0-9]+" minlength="1" maxlength="16">
      <span class="authorize-form-label">Password</span>
      <input name="password" class="authorize-form-input" pattern="[a-zA-Z0-9!@#$%^&*()\s]+" minlength="8" maxlength="256" type="password">
      <span class="authorize-form-label">Verify Password</span>
      <input name="verify_password" class="authorize-form-input" pattern="[a-zA-Z0-9!@#$%^&*()\s]+" minlength="8" maxlength="256" type="password">
      <button class="authorize-form-button" type="submit">SIGN UP</button>
    </form>
  </div>
</body>

</html>